.primary-images {
    position: relative;
}

.product-badges {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
    padding-left: 0;

    li {
        padding: 5px 15px;
        background-color: #00ff00;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .Bestseller {
        background-color: #00fff0;
    }

    .product-badges .Exclusive {
        background-color: #ff0f00;
    }

    .product-badges .New {
        background-color: #f0ff00;
    }

    .product-badges .Sale {
        background-color: #00ff00;
    }
}
